# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/

# Datasets and large files
data/
*.zip
*.avi
*.mp4
*.mov
*.pt
*.png
*.jpg
*.jpeg
*.h5
*.csv

!runs/
!runs/train/
!runs/train/exp13/
!runs/train/exp13/**/*.png
!runs/train/exp13/*.csv
!runs/train/exp15/
!runs/train/exp15/**/*.png
!runs/train/exp15/*.csv


# Logs / temp files
*.log
*.out
*.tmp